.containerPrincipal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2em;
    padding: 40px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: white;
}
.containerSecundario{
    text-align: center;
    padding:20px
}

.welcomer{
    height: 100vh;
    background-image: url("../assets/images/heartbackground2.jpg");
    background-size: cover;
    background-color: #ef4565;
}

.logo {
    width: 100%;
}

.blueHealth {
    background-color: #3da9fc;
    align-items: center;
  }

.containerlogo{
    background-color: #ef4565;
}