.navbar {
  background-color: #060b26;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu-bars {
  flex: auto;
  font-size: 2rem;
  background: none;
}

.menu-bars-origin {
  margin-left: 1rem;
  font-size: 2rem;
  background: none;
}

.nav-logoMega {
  max-width: 90%;
  height: auto;
}

.nav-menu {
  background-color: #094067;
  width: 230px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  
  transition: 850ms;
}

.nav-menu.active {
  width: 70px;
  height: 100vh;
  transition: 350ms;
}

.nav-text {
  text-decoration: none;
  justify-content: space-between;
  display: flex;
  margin-left:-20px;
}

.nav-text-badge {
  margin-left: 0px;
}

.nav-text:hover {
  transition: transform .3s;
  border-color: #ef4565;
  border-style: solid;
  width: 100%;
  height:60px;
  cursor: pointer;
  border-radius:10px;
}

.nav-text-logo {
  text-decoration: none;
  justify-content: space-between;
  display: flex;
  margin-left:-20px;
}

.nav-text-logo:hover {
  transition: transform .3s;
  border-color: #ef4565;
  border-style: solid;
  width: 100%;
  height:80px;
  cursor: pointer;
  border-radius:10px;
}

.nav-menu-items {
  width: 90%;
}

.navbar-toggle {
  background-color: #060b26;
  width: 100%;
  height: 80px;
  justify-content: flex-end;
  align-items: flex-end;
}

span {
  margin-left: 16px;
}

.link-bar-menu {
	text-decoration: none;
  display: flex;
  margin-left:-20px;
  width: 100%;
  cursor: pointer;
}
